[user]
	name = wind4869
	email = windv587@gmail.com
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	st = status
	co = checkout
	br = branch
	up = rebase
	ci = commit
[core]
	editor = vim
